body {
    margin: 0%;
}

#nav_menu {
    width: auto;
    height:auto;
}

#logazo_mate {
    width: 15%;
    height: 15%;
}

#icons {
    width: 15%;
    height: 15%;  
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

footer{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(50, 63, 28);
    padding-top: 800px;
    padding-bottom: 100px;
}

#confiar{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
#titulo_redes{
    text-align: right;
    margin-bottom: 20px;
}

#redes_footer{
    filter: brightness(1.1);
    mix-blend-mode:lighten;
    margin-top: 0px;
    /* buscar la forma de redondear los bordes de las imagenes*/
}

