/* PARA TODAS LAS PAGINAS */
#barra_nav {
    margin-bottom: 20px;
}
#nav_menu {
    width: auto;
    height:auto;
}

#logo_mate {
    width: 100px;
    margin-left: 80px;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#footer{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#titulo_redes{
    text-align: right;
    margin-bottom: 20px;
}

#redes_footer{
    filter: brightness(1.1);
    mix-blend-mode:lighten;
    margin-top: 0px;
    /* buscar la forma de redondear los bordes de las imagenes*/
}


/* PAGINA INDEX */

#carousel {
    width: auto;
   
}

#productos_destacados {
    margin-top: 10px;
}

#confiar{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    filter: brightness(1.1);
}
#titulo_confiar {
    text-align: center;
    margin-top: 100px;
}

/* PAGINA PRODUCTOS */

#productos{
    margin-top: 10px;
    margin-bottom: 30px;
}
#consulta {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* PAGINA CONTACTO */

#contactanos {
    background-color: aliceblue;
}

/* PAGINA SOBRE NOSOTROS */
#sobre_nosotros {
    margin-bottom: 20px;
}
#quienes_somos {
    text-align: center;
    background-color: beige;
}